<a href="https://colab.research.google.com/github/simpsone4652/data_science/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* @author: krakowiakpawel9@gmail.com  
* @site: e-smartdata.org

### Pandas
Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)

Podstawowa biblioteka do analizy danych w języku Python.

Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Import bibliotek](#a1)
2. [Wczytanie danych](#a2)
3. [Preprocessing](#a3)
4. [Konkatenacja danych](#a4)
5. [Metoda append()](#a5)

### <a name='a1'></a> Import bibliotek

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

### <a name='a2'></a> Wczytanie danych

In [3]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 802 entries, 2022-07-15 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    802 non-null    float64
 1   High    802 non-null    float64
 2   Low     802 non-null    float64
 3   Close   802 non-null    float64
 4   Volume  802 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 37.6 KB

In [5]:
apple.head()

              Open    High       Low   Close    Volume
Date
2022-07-15  149.78  150.86  148.2000  150.17  76259931
2022-07-14  144.08  148.95  143.2500  148.47  78140744
2022-07-13  142.99  146.45  142.1201  145.49  71185560
2022-07-12  145.76  148.45  145.0500  145.86  77588759
2022-07-11  145.67  146.64  143.7800  144.87  63305113

### <a name='a3'></a> Preprocessing

In [6]:
apple.columns = ['apple_'+col.lower() for col in apple.columns]
amazon.columns = ['amazon_'+col.lower() for col in amazon.columns]
google.columns = ['google_'+col.lower() for col in google.columns]
uber.columns = ['uber_'+col.lower() for col in uber.columns]

In [7]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2022-07-15      149.78      150.86   148.2000       150.17      76259931
2022-07-14      144.08      148.95   143.2500       148.47      78140744
2022-07-13      142.99      146.45   142.1201       145.49      71185560
2022-07-12      145.76      148.45   145.0500       145.86      77588759
2022-07-11      145.67      146.64   143.7800       144.87      63305113

### <a name='a4'></a> Konkatenacja danych

In [11]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2017-07-19,35.612,35.836,35.4870,35.743,88354988,51.2500,51.5795,51.1250,51.3435,59182800,49.5005,49.7800,49.3505,49.6385,28009460,NaN,NaN,NaN,NaN,NaN
2017-07-20,35.853,35.911,35.5430,35.580,72677946,51.5795,51.7485,51.1260,51.4350,61613960,49.8500,49.9340,49.2310,49.6095,28321080,NaN,NaN,NaN,NaN,NaN
2017-07-21,35.497,35.602,35.2320,35.562,106146111,51.0640,51.3050,50.5500,51.2835,54538080,49.4500,49.7555,49.2085,49.6920,29231960,NaN,NaN,NaN,NaN,NaN
2017-07-24,35.638,36.077,35.4770,35.996,90714945,51.4170,52.1505,51.3715,51.9475,65583160,49.7050,50.3095,49.5136,49.9155,78302140,NaN,NaN,NaN,NaN,NaN
2017-07-25,35.926,36.413,35.9260,36.147,79563522,51.9025,52.1665,51.6240,52.0065,48903760,48.5350,48.8365,48.1900,48.4515,118602600,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-11,145.670,146.640,143.7800,144.870,63305113,114.0800,114.3000,110.8700,111.7500,53540019,117.9980,117.9980,115.3300,115.6760,31243700,21.95,22.250,21.1400,21.19,17562117.0
2022-07-12,145.760,148.450,145.0500,145.860,77588759,112.1600,113.2300,108.3400,109.2200,54280257,116.2150,116.9740,113.6900,114.0200,29959700,21.28,21.780,20.9750,21.57,17373535.0
2022-07-13,142.990,146.450,142.1201,145.490,71185560,107.0300,111.7800,106.0100,110.4000,61353812,111.7010,114.1960,111.2020,111.3540,43722020,20.93,21.610,20.7200,21.50,18994916.0
2022-07-14,144.080,148.950,143.2500,148.470,78140744,110.2400,111.1800,107.5800,110.6300,51163140,110.2100,111.0930,108.3730,110.3670,37003040,21.25,21.465,20.5905,20.65,31561675.0
2022-07-15,149.780,150.860,148.2000,150.170,76259931,112.5000,115.5900,111.5900,113.5500,84317816,112.0010,113.1400,110.9000,111.7780,46769120,21.00,21.780,20.7650,21.67,24503631.0

In [12]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,802.000000,802.00000,802.000000,802.000000,8.020000e+02
mean,86.709932,87.732314,85.737462,86.778687,1.222399e+08,114.360053,115.668177,112.898700,114.297520,8.658362e+07,80.873044,81.725737,80.008781,80.890125,3.542946e+07,38.862835,39.64709,37.973573,38.801746,2.552226e+07
std,46.056768,46.658479,45.458230,46.082113,5.661515e+07,40.325826,40.808516,39.776853,40.253191,4.121540e+07,31.795775,32.107263,31.413992,31.754941,1.625274e+07,9.750800,9.81640,9.621780,9.702689,1.688606e+07
min,34.849000,35.266000,34.368000,34.414000,4.111250e+07,47.000000,47.431500,46.587500,46.930000,1.762674e+07,45.997500,46.412500,45.930000,46.043500,9.312760e+06,15.960000,17.80000,13.710000,14.820000,3.380003e+06
25%,45.136000,45.398000,44.773000,45.176000,8.509994e+07,84.798500,85.471500,83.750000,84.621500,5.873202e+07,55.968500,56.666500,55.428000,55.997000,2.519476e+07,31.760000,32.64125,31.000000,31.737500,1.524944e+07
50%,66.331000,68.271000,65.668000,67.288000,1.074365e+08,97.328500,98.652000,96.441000,97.603500,7.502654e+07,65.150000,65.700500,64.780500,65.347000,3.135006e+07,37.000000,37.82910,36.250000,37.070000,2.165904e+07
75%,130.150000,131.660000,128.660000,130.060000,1.421709e+08,158.338000,159.938000,156.250000,158.100000,1.024725e+08,107.933000,111.093000,106.730000,108.963000,4.023144e+07,45.520000,46.60250,44.828750,45.692500,3.141596e+07
max,182.130000,182.440000,178.630000,181.510000,4.333866e+08,187.200000,188.654000,184.840000,186.570000,3.310520e+08,151.250000,151.547000,148.899000,149.838000,1.331771e+08,63.250000,64.05000,60.800000,63.180000,1.863225e+08

In [14]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,86.71,46.06,34.85,45.14,66.33,130.15,182.13
apple_high,1257.00,87.73,46.66,35.27,45.40,68.27,131.66,182.44
apple_low,1257.00,85.74,45.46,34.37,44.77,65.67,128.66,178.63
apple_close,1257.00,86.78,46.08,34.41,45.18,67.29,130.06,181.51
apple_volume,1257.00,122239891.70,56615152.08,41112502.00,85099939.00,107436464.00,142170928.00,433386623.00
amazon_open,1257.00,114.36,40.33,47.00,84.80,97.33,158.34,187.20
amazon_high,1257.00,115.67,40.81,47.43,85.47,98.65,159.94,188.65
amazon_low,1257.00,112.90,39.78,46.59,83.75,96.44,156.25,184.84
amazon_close,1257.00,114.30,40.25,46.93,84.62,97.60,158.10,186.57
amazon_volume,1257.00,86583617.66,41215397.11,17626740.00,58732020.00,75026540.00,102472520.00,331051960.00
google_open,1257.00,80.87,31.80,46.00,55.97,65.15,107.93,151.25
google_high,1257.00,81.73,32.11,46.41,56.67,65.70,111.09,151.55
google_low,1257.00,80.01,31.41,45.93,55.43,64.78,106.73,148.90
google_close,1257.00,80.89,31.75,46.04,56.00,65.35,108.96,149.84
google_volume,1257.00,35429457.74,16252736.92,9312760.00,25194760.00,31350060.00,40231440.00,133177100.00
uber_open,802.00,38.86,9.75,15.96,31.76,37.00,45.52,63.25
uber_high,802.00,39.65,9.82,17.80,32.64,37.83,46.60,64.05
uber_low,802.00,37.97,9.62,13.71,31.00,36.25,44.83,60.80
uber_close,802.00,38.80,9.70,14.82,31.74,37.07,45.69,63.18
uber_volume,802.00,25522256.98,16886058.85,3380003.00,15249441.75,21659045.00,31415957.75,186322536.00

In [15]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.27,0.89,0.90,0.89,0.89,-0.20,0.95,0.95,0.95,0.95,-0.08,0.25,0.25,0.24,0.24,0.12
apple_high,1.00,1.00,1.00,1.00,-0.26,0.89,0.90,0.89,0.89,-0.20,0.95,0.95,0.95,0.95,-0.08,0.24,0.25,0.24,0.24,0.12
apple_low,1.00,1.00,1.00,1.00,-0.28,0.90,0.90,0.89,0.89,-0.21,0.95,0.96,0.95,0.95,-0.09,0.25,0.25,0.25,0.25,0.11
apple_close,1.00,1.00,1.00,1.00,-0.27,0.89,0.90,0.89,0.89,-0.21,0.95,0.95,0.95,0.95,-0.08,0.24,0.25,0.24,0.24,0.11
apple_volume,-0.27,-0.26,-0.28,-0.27,1.00,-0.20,-0.20,-0.21,-0.21,0.56,-0.35,-0.34,-0.35,-0.35,0.49,-0.31,-0.30,-0.32,-0.31,0.26
amazon_open,0.89,0.89,0.90,0.89,-0.20,1.00,1.00,1.00,1.00,-0.16,0.84,0.84,0.84,0.84,-0.10,0.55,0.55,0.55,0.55,-0.06
amazon_high,0.90,0.90,0.90,0.90,-0.20,1.00,1.00,1.00,1.00,-0.15,0.84,0.84,0.84,0.84,-0.09,0.54,0.54,0.54,0.54,-0.06
amazon_low,0.89,0.89,0.89,0.89,-0.21,1.00,1.00,1.00,1.00,-0.18,0.84,0.84,0.84,0.84,-0.11,0.56,0.56,0.56,0.56,-0.07
amazon_close,0.89,0.89,0.89,0.89,-0.21,1.00,1.00,1.00,1.00,-0.16,0.84,0.84,0.84,0.84,-0.10,0.55,0.55,0.55,0.55,-0.06
amazon_volume,-0.20,-0.20,-0.21,-0.21,0.56,-0.16,-0.15,-0.18,-0.16,1.00,-0.24,-0.23,-0.25,-0.24,0.59,-0.24,-0.23,-0.26,-0.25,0.25
google_open,0.95,0.95,0.95,0.95,-0.35,0.84,0.84,0.84,0.84,-0.24,1.00,1.00,1.00,1.00,-0.12,0.29,0.29,0.29,0.29,0.10
google_high,0.95,0.95,0.96,0.95,-0.34,0.84,0.84,0.84,0.84,-0.23,1.00,1.00,1.00,1.00,-0.11,0.28,0.29,0.28,0.28,0.10
google_low,0.95,0.95,0.95,0.95,-0.35,0.84,0.84,0.84,0.84,-0.25,1.00,1.00,1.00,1.00,-0.13,0.30,0.30,0.30,0.29,0.09
google_close,0.95,0.95,0.95,0.95,-0.35,0.84,0.84,0.84,0.84,-0.24,1.00,1.00,1.00,1.00,-0.12,0.29,0.29,0.29,0.29,0.10
google_volume,-0.08,-0.08,-0.09,-0.08,0.49,-0.10,-0.09,-0.11,-0.10,0.59,-0.12,-0.11,-0.13,-0.12,1.00,-0.22,-0.21,-0.23,-0.22,0.28
uber_open,0.25,0.24,0.25,0.24,-0.31,0.55,0.54,0.56,0.55,-0.24,0.29,0.28,0.30,0.29,-0.22,1.00,1.00,1.00,0.99,-0.26
uber_high,0.25,0.25,0.25,0.25,-0.30,0.55,0.54,0.56,0.55,-0.23,0.29,0.29,0.30,0.29,-0.21,1.00,1.00,1.00,1.00,-0.24
uber_low,0.24,0.24,0.25,0.24,-0.32,0.55,0.54,0.56,0.55,-0.26,0.29,0.28,0.30,0.29,-0.23,1.00,1.00,1.00,1.00,-0.28
uber_close,0.24,0.24,0.25,0.24,-0.31,0.55,0.54,0.56,0.55,-0.25,0.29,0.28,0.29,0.29,-0.22,0.99,1.00,1.00,1.00,-0.26
uber_volume,0.12,0.12,0.11,0.11,0.26,-0.06,-0.06,-0.07,-0.06,0.25,0.10,0.10,0.09,0.10,0.28,-0.26,-0.24,-0.28,-0.26,1.00

In [16]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [17]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [18]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.89          0.95        0.24
amazon_close         0.89          1.00          0.84        0.55
google_close         0.95          0.84          1.00        0.29
uber_close           0.24          0.55          0.29        1.00

In [19]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [20]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.27,0.89,-0.21,0.95,-0.08,0.24,0.11
apple_volume,-0.27,1.00,-0.21,0.56,-0.35,0.49,-0.31,0.26
amazon_close,0.89,-0.21,1.00,-0.16,0.84,-0.10,0.55,-0.06
amazon_volume,-0.21,0.56,-0.16,1.00,-0.24,0.59,-0.25,0.25
google_close,0.95,-0.35,0.84,-0.24,1.00,-0.12,0.29,0.10
google_volume,-0.08,0.49,-0.10,0.59,-0.12,1.00,-0.22,0.28
uber_close,0.24,-0.31,0.55,-0.25,0.29,-0.22,1.00,-0.26
uber_volume,0.11,0.26,-0.06,0.25,0.10,0.28,-0.26,1.00

### <a name='a5'></a> Metoda append()

In [21]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117

In [24]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2021)]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-06-30      51.02      51.13     49.71       50.12     18069434
2021-06-29      51.00      51.30     50.24       50.76     14104177
2021-06-28      51.75      52.36     50.37       51.11     22518031
2021-06-25      51.18      51.83     50.53       51.73     25727827
2021-06-24      51.30      51.55     50.22       50.82     12403301
2021-06-23      49.06      50.77     49.01       50.51     19843277
2021-06-22      48.30      49.34     47.75       49.05     19472455
2021-06-21      49.72      49.86     47.90       48.12     30752163
2021-06-18      49.31      50.39     48.77       49.70     20633523
2021-06-17      48.96      49.84     48.31       49.70     18887261
2021-06-16      49.35      49.66     48.29       48.89     18975750
2021-06-15      49.55      49.95     49.09       49.30     20358633
2021-06-14      50.06      51.49     49.56       50.77     15399156
2021-06-11      50.03      50.36     49.53       50.01     12127112
2021-06-10      49.69      49.90     48.42       49.55     14926468
2021-06-09      50.00      50.17     49.11       49.14     12615211
2021-06-08      50.70      51.40     48.66       49.88     19672716
2021-06-07      50.49      51.22     49.75       50.76     16466233
2021-06-04      49.56      50.22     49.07       50.18     10409827
2021-06-03      50.43      50.50     48.53       48.70     14712859
2021-06-02      51.19      51.41     50.55       50.79     13484205
2021-06-01      51.62      51.66     49.84       50.98     16583752

In [25]:
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2021)]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-07-30      44.38      44.73     43.34       43.46     22194938
2021-07-29      44.12      45.21     44.00       44.69     51033697
2021-07-28      45.88      46.96     45.81       46.14     19510262
2021-07-27      46.54      46.66     44.77       45.82     16874229
2021-07-26      47.04      47.60     46.37       46.81     12497997
2021-07-23      47.61      47.69     46.78       47.46      9540666
2021-07-22      47.70      48.17     47.24       47.57     11560839
2021-07-21      46.53      47.94     46.35       47.52     14953653
2021-07-20      45.46      46.66     45.07       46.32     13851368
2021-07-19      45.00      45.75     44.44       45.56     20890643
2021-07-16      46.40      47.09     46.01       46.19     18224518
2021-07-15      46.86      47.46     46.15       46.42     17225275
2021-07-14      48.28      48.59     47.11       47.15     15837013
2021-07-13      48.49      48.59     47.75       48.08     11283578
2021-07-12      48.87      49.29     48.09       48.41     14142309
2021-07-09      47.84      49.25     47.71       49.07     15400975
2021-07-08      47.16      48.21     46.57       47.55     24930159
2021-07-07      50.80      51.03     48.54       48.68     24559506
2021-07-06      50.60      52.03     50.40       50.80     21357834
2021-07-02      50.57      51.83     50.39       51.71     13698243
2021-07-01      50.88      51.60     50.02       50.59     17732585

In [27]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-06-30      51.02      51.13     49.71       50.12     18069434
2021-06-29      51.00      51.30     50.24       50.76     14104177
2021-06-28      51.75      52.36     50.37       51.11     22518031
2021-06-25      51.18      51.83     50.53       51.73     25727827
2021-06-24      51.30      51.55     50.22       50.82     12403301
2021-06-23      49.06      50.77     49.01       50.51     19843277
2021-06-22      48.30      49.34     47.75       49.05     19472455
2021-06-21      49.72      49.86     47.90       48.12     30752163
2021-06-18      49.31      50.39     48.77       49.70     20633523
2021-06-17      48.96      49.84     48.31       49.70     18887261
2021-06-16      49.35      49.66     48.29       48.89     18975750
2021-06-15      49.55      49.95     49.09       49.30     20358633
2021-06-14      50.06      51.49     49.56       50.77     15399156
2021-06-11      50.03      50.36     49.53       50.01     12127112
2021-06-10      49.69      49.90     48.42       49.55     14926468
2021-06-09      50.00      50.17     49.11       49.14     12615211
2021-06-08      50.70      51.40     48.66       49.88     19672716
2021-06-07      50.49      51.22     49.75       50.76     16466233
2021-06-04      49.56      50.22     49.07       50.18     10409827
2021-06-03      50.43      50.50     48.53       48.70     14712859
2021-06-02      51.19      51.41     50.55       50.79     13484205
2021-06-01      51.62      51.66     49.84       50.98     16583752
2021-07-30      44.38      44.73     43.34       43.46     22194938
2021-07-29      44.12      45.21     44.00       44.69     51033697
2021-07-28      45.88      46.96     45.81       46.14     19510262
2021-07-27      46.54      46.66     44.77       45.82     16874229
2021-07-26      47.04      47.60     46.37       46.81     12497997
2021-07-23      47.61      47.69     46.78       47.46      9540666
2021-07-22      47.70      48.17     47.24       47.57     11560839
2021-07-21      46.53      47.94     46.35       47.52     14953653
2021-07-20      45.46      46.66     45.07       46.32     13851368
2021-07-19      45.00      45.75     44.44       45.56     20890643
2021-07-16      46.40      47.09     46.01       46.19     18224518
2021-07-15      46.86      47.46     46.15       46.42     17225275
2021-07-14      48.28      48.59     47.11       47.15     15837013
2021-07-13      48.49      48.59     47.75       48.08     11283578
2021-07-12      48.87      49.29     48.09       48.41     14142309
2021-07-09      47.84      49.25     47.71       49.07     15400975
2021-07-08      47.16      48.21     46.57       47.55     24930159
2021-07-07      50.80      51.03     48.54       48.68     24559506
2021-07-06      50.60      52.03     50.40       50.80     21357834
2021-07-02      50.57      51.83     50.39       51.71     13698243
2021-07-01      50.88      51.60     50.02       50.59     17732585